.left-sidebar{
    /* background-color: lightgreen; */
    position: fixed;
    height: 500px;
    left: 0;
    top: 50px;
     
 }
 .item{
     display: flex;
     width: 50px;
     flex-direction: column;
     justify-content: center;
     /* align-items: center; */
     margin: 30px 20px;
     cursor: pointer;
 
 }
 